.dialogs {
    
    background-color: rgb(18, 19, 19);
}

.dialogItems {
    background-color: rgb(24, 26, 26);
   
}

.item {
    color:red;
}

.messages {
    background-color: rgb(18, 19, 19);
}

.message {
    color:gold;
}

.wrapper {
    display: flex;
}